<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <h1>Event</h1>


    
    <div class="well">

      <svg ng-attr-height="{{vm.graph.height}}" ng-attr-width="{{vm.graph.width}}">
	<rect x="50" y="50" width="400" height="400"
	      style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />

	
	<path ng-attr-d = "{{vm.d}}" stroke="black" fill="green" stroke-width="2" fill-opacity="0.5"/>
      </svg>
<!--
      <svg width="500" height="500">
	<circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
	<path d="M10 315
		 L 110 215
		 A 30 50 0 0 1 162.55 162.45
		 L 172.55 152.45
		 A 30 50 -45 0 1 215.1 109.9
		 L 315 10" stroke="black" fill="green" stroke-width="2" fill-opacity="0.5"/>	
      </svg>
-->
      
      <div ng-if = "vm.eventGenerated">
	{{vm.d}}

	B = {{vm.bFieldStrength}} kG

	B is {{vm.bFieldDirection}}

      </div>

      <div> {{vm.phiList}} </div>
    </div>
    <button ng-click="vm.generateEvent()" class="btn btn-primary btn-raised btn-add-generate-event">Generate New Event</button>
    <button ng-click="vm.toggleBFieldDirection()" class="btn btn-primary btn-raised btn-add-toggle-B-dirn">Change B Field Direction</button>
    
  </div>
</div>
