<div class="row">
  <div class="col-md-10 col-md-offset-1">
    
    <h1>
      <div ng-if = "vm.eventGenerated" ng-bind-html="vm.event.name">
      </div>
    </h1>

    <h2>
      <div ng-if = "vm.error">
	{{vm.errorMessage}}
	<button ng-click="vm.dismissErrorMessage()" class="btn btn-primary btn-raised">
	  <span> Dismiss </span>
	</button>
      </div>
    </h2>

    <div class="well">

      <svg ng-attr-height="{{vm.graph.height}}" ng-attr-width="{{vm.graph.width}}">
	<rect x="50" y="50" width="400" height="400"
	      style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />

	<path ng-attr-d = "{{vm.d.inCharged}}" stroke="green" stroke-width="3" fill="none" />
	<path ng-attr-d = "{{vm.d.inNeutral}}" stroke="green" stroke-dasharray = "10, 5" stroke-width="3" />
	<path ng-attr-d = "{{vm.d.outCharged}}" stroke="grey" stroke-width="3" fill="none" />
	<path ng-attr-d = "{{vm.d.outNeutral}}" stroke="grey" stroke-dasharray = "10, 5" stroke-width="3" />
      </svg>

      <svg ng-attr-height="{{vm.graph.height}}" ng-attr-width="{{vm.graph.width}}">
	<rect x="50" y="50" width="400" height="400"
	      style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />

	<path ng-attr-d = "{{vm.d.inCharged}}" stroke="green" stroke-width="3" fill="none" />
	<path ng-attr-d = "{{vm.d.inNeutral}}" stroke="green" stroke-dasharray = "10, 5" stroke-width="3" />
	<path ng-attr-d = "{{vm.d.outCharged}}" stroke="grey" stroke-width="3" fill="none" />
	<path ng-attr-d = "{{vm.d.outNeutral}}" stroke="grey" stroke-dasharray = "10, 5" stroke-width="3" />
	<g ng-repeat="dot in vm.dots">
	  <circle ng-mouseover="vm.checkDot(dot.index)" ng-attr-cx="{{dot.x}}" ng-attr-cy="{{dot.y}}"
		  ng-attr-r="{{dot.activated ? '2' : '1' }}" stroke="black" stroke-width="0"
		  ng-attr-fill="{{dot.useForFit ? 'red' : 'grey' }}" />
	</g>

	<g ng-repeat="circle in vm.circles">
	  <circle ng-attr-cx="{{circle.xcPx}}" ng-attr-cy="{{circle.ycPx}}"
		  ng-attr-r="{{circle.rPx}}" stroke="black" stroke-width="2"
		  fill="none" />
	</g>
	
      </svg>

      
      
      <div ng-if = "vm.eventGenerated">
	{{vm.d}}

	B = {{vm.bFieldStrength}} kG

	B is {{vm.bFieldDirection}}

      </div>

      <div> {{vm.d}} </div>
    </div>
    <button ng-click="vm.generateEvent()" class="btn btn-primary btn-raised btn-add-generate-event">Generate New Event</button>
    <button ng-click="vm.toggleColourErase()" class="btn btn-primary btn-raised btn-add-toggle-B-dirn">
      <span ng-if="vm.colourMode"> Erase </span>
      <span ng-if="!vm.colourMode"> Colour </span>
    </button>

    <button ng-click="vm.fitCircleToData()" class="btn btn-primary btn-raised btn-add-toggle-B-dirn">
      <span> Fit Circle </span>
    </button>
    
  </div>
</div>
